@import '../../styles/variables.scss';
@import '../../styles/responsive.scss';

button{
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

.menu.open{
    width: 300px;
   
    @include xxl{
        width: 60px;
    }
}

.menuButton{
    height: 87px;
}
.menu{
    background-color: $dark-bg;
    color: $second-color;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    left: 0;
    width: 100px;
    .img{
        width: 100%;
        margin-bottom: 30px;
        cursor: pointer;
        @include xxl{
            display: none;
        }

    }

    @include xxl{
        padding: 20px; 
        width: 80px; 
    }


    .menuItem{
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 10px;
        height: 40px;
        white-space: nowrap;
        padding-left: 16px;

        @include xxl{
            display: block;
            padding: 10px;
            margin-bottom: 10px;
            width: 40px;
        }

        .text{
            @include xxl{
                display: none;
            }
        }

        &:hover{
            background-color: $light-bg;
        }
        

    }
    
}

