@import '../../styles/variables.scss';
@import '../../styles/responsive.scss';

.tabs{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-right: 50px;
    font-size: 18px;
    background-color: $dark-bg;
    color: #fff;
    border-radius: inherit;

}

.button{
    padding: 15px; 
    @include md{
        padding: 10px;
    }
}

.active{
    background-color: $main-bg;
    color: $text-color;
    font-weight: 500;
    
}

.active.first{
    border-top-left-radius: inherit;
}