//bg
$dark-bg: #3D4353;
$main-bg: #fff;
$soft-bg: #F1F1F1;
$light-bg: #4c5366;

//text
$text-color: #111010;
$second-color: #cfcfcf;
$grey: #505050;

$blue: #33B3D3;
$green: #6FCC86;
$purple: #5c59a3;
$yellow: #FFBB28;
$orange: #FF8042;