@import '../../styles/variables.scss';
@import '../../styles/responsive.scss';

.navbar{
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: end;
    gap: 25px;
    align-items: center;

    .link{
        display: none;
        padding: 10px;
        border-radius: 5px;
        &:hover{
            background-color: #F1F1F1;
        }
        @include sm {
            display: block;
            cursor: pointer;
        }
    }
    .icon{
        cursor: pointer;
        @include sm {
            display: none;
        }
    }

    .notification{
        position: relative;
        display: flex;
        align-items: center;
        cursor: pointer;

        span{
            position: absolute;
            background-color: red;
            color: white;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 16px;
            height: 16px;
            top: -7px;
            right: -7px;
            font-size: 12px;
        }
    }
    .user{
        display: flex;
        gap: 10px;
        align-items: center;
        font-size: 16px;
        color: $grey;
        cursor: pointer;
        img{
            width: 26px;
            height: 26px;
            border-radius: 50%;
            object-fit: cover;
        }
    }
}

