@import '../../styles/variables.scss';
@import '../../styles/responsive.scss';

.mainInfo{
    padding: 10px;
    border-left: 2px solid $second-color;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;

    @include lg{
        flex-direction: row;
        gap: 10px;
        align-items: center;
        justify-content: center;
    }
    @include md{
        flex-direction: column;
        border-left: none;
    }

    
    .info{
        padding: 20px;
        max-width: 90%;
        overflow: hidden;
        @include lg{
            text-align: center;
            flex-grow: 2;   
        }
        @include md{
            text-align: center;
            flex-grow: 2;  
            padding: 0 10px; 
        }
    }

    .title{
        margin-bottom: 20px;
        font-size: 28px;
        font-weight: 600;
        @include md{
            font-size: 18px;
        }
    }

    .detail{
        display: flex;
        align-items: center;
        gap: 15px;
        margin-bottom: 20px;
        font-size: 16px;
        cursor: pointer;
        @include lg{
            justify-content: center;
        }
        @include md{
            font-size: 14px;
        }
    }
    .img{
        width: 30px;
        height: 30px;
    }

    .avatarContainer {
        position: relative;
        max-height: 350px;
        @include lg{
        max-width: 50%;
        }
        @include md {
            aspect-ratio: auto;
            max-width: none;
            margin-bottom: 20px;
    }
        .avatar{
            width: 100%;
            object-fit: cover;
            object-position: top;
            height: 100%;
            @include lg {
                aspect-ratio: 220/150;
            }
            @include md {
                aspect-ratio: auto;
                width: 100%;
                max-height: 350px;
            }
        }
    
        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.4);
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0;
            visibility: hidden; 
            transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
            
        }

        .overlay.visible {
            opacity: 1; 
            visibility: visible; 
        }
        .visuallyHidden {
            clip: rect(0, 0, 0, 0);
            clip-path: inset(50%);            
            height: 1px;                      
            overflow: hidden;                 
            position: absolute;               
            bottom: 0;                       
            left: 0;                          
            white-space: nowrap;              
            width: 1px;                       
        }
    }

}